@model IEnumerable<Biblioteca.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Autores(a)</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary" >Añadir</a>
</p>
<table class="table align-content-md-center">
    <thead class="thead-dark">
        <tr>
            <th>
                Id Autor
            </th>
            <th >Nombre      
            </th>
            <th hidden="hidden">
                @Html.DisplayNameFor(model => model.IdEstado)
            </th>
            <th>
                estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td hidden="hidden" >
                @Html.DisplayFor(modelItem => item.IdEstado)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomEstado)
                
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdAutor  }, new { @class = "btn btn-secondary" })                
                @Html.ActionLink("Details", "Details", new {  id=item.IdAutor}, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdAutor  }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
