@model IEnumerable<Biblioteca.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Categoria</h1>
<p>
    <a asp-action="Create" class="btn btn-secondary">Añadir</a>
</p>
<table class="table">
   <thead class="thead-dark">
        <tr>
            <th>IdCategoria
                
            </th>
            <th >Nombre
            </th>
            
            <th>Estado de categoria  
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td hidden="hidden">
                @Html.DisplayFor(modelItem => item.IdEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdCategoria  }, new { @class = "btn btn-secondary" })  
                @Html.ActionLink("Details", "Details", new {  id=item.IdCategoria}, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdCategoria  }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
