@model IEnumerable<Biblioteca.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h5>Listado de Libros</h5>

<p>
    <a asp-action="Create" class="btn btn-secondary">Añadir</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            
            <th>titulo</th>
            <th>Portada</th>           
            <th>Autor</th>           
            <th>Categoria</th>           
            <th>Editorial</th>
            <th>Ubicacion</th>
            <th>Cantidad</th>
            <th>Estado  </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden="hidden">
                @Html.DisplayFor(modelItem => item.idLibro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tituloLib)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombrePortada)
            </td>
            <td hidden="hidden">
                @Html.DisplayFor(modelItem => item.idAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomAutor)
            </td>
            <td hidden="hidden">
                @Html.DisplayFor(modelItem => item.idCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomCategoria)
            </td>
           <td hidden="hidden">
                @Html.DisplayFor(modelItem => item.idEditorial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomEditorial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ubicacionLib)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ejemplares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.idLibro  }, new { @class = "btn btn-secondary" })  
                @Html.ActionLink("Details", "Edit", new {  id=item.idLibro}, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new {  id=item.idLibro  }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
