@model IEnumerable<Biblioteca.Models.Editorial>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de editoriales</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Añadir</a>
</p>
<table class="table">
   <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEditorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th hidden="hidden">
                @Html.DisplayNameFor(model => model.IdEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEditorial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td hidden="hidden">
                @Html.DisplayFor(modelItem => item.IdEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdEditorial  }, new { @class = "btn btn-secondary" })  
                @Html.ActionLink("Details", "Details", new {  id=item.IdEditorial}, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdEditorial  }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
